{%if page_obj.object_list%}
{% for item in page_obj %}
<tr>
    <td>{{ item.id }}</td>
    <td>{{ item.name }}</td>
    <td>{{ item.title }}</td>
    <td>{{ item.author }}</td>
    <td>{{ item.row }}</td>
    <td>{{ item.column}}</td>
    <td>{{ item.difficulty }}</td>
    <td>{{item.grid}}</td>
    <td>{{item.solution}}</td>
    <td>{{ item.created_at|date:"Y-m-d H:i" }}</td>
    <td>{{ item.updated_at|date:"Y-m-d H:i" }}</td>
    <td>{% if item.created_by%} {{item.created_by.username}} {% else %} Superuser {% endif %} </td>
    <td>{% if item.updated_by%} {{item.updated_by.username}} {% else %} Superuser {% endif %} </td>
    <td>{{ item.active }}</td>
    <td class="options-col">
        <a href="{% url 'create_puzzles:item-update' item.pk %}" class="update-btn">Update</a>
        <a href="{% url 'create_puzzles:item-confirm-delete' item.pk %}" class="delete-btn">Delete</a>
    </td>
</tr>
{% endfor%}
{% else %}
<tr>
    <td colspan="15" style="text-align:center;">No items found.</td>
</tr>
{% endif %}